<ul id="slide-out" class="sidenav">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="/assets/img/bg.jpg">
            </div>
            <a href="#user"><img class="circle" src="/assets/img/user.jpg"></a>
            <a href="#name"><span class="white-text name">John Doe</span></a>
            <a href="#email"><span class="white-text email">jdoe@example.com</span></a>
        </div>
    </li>
    <li><a href="/">Inicio</a></li>
    <li><a href="/render/">Dados via Render</a></li>
    <li><a href="/viaapi/">Dados via API</a></li>
    <li><a href="/websocket/">Dados via WebSocket</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="subheader">Subtitulo</a></li>
    <li><a class="waves-effect" href="#!">Link</a></li>
</ul>