<!DOCTYPE html>
<html lang="pt">

<head>
    <!-- Inclui o head -->
    {{%- include('./partials/head'); %}}
</head>

<body>

    <!-- Inclui o arquivo parcial nav, que é a barra de menu superior -->
    <!-- https://ejs.co/#docs -->
    {{%- include('./partials/nav'); %}}

    <!-- Inclui o menu lateral... O botão para abrir o menu lateral esta na barra superior (partials/nav) -->
    {{%- include('./partials/sidenav'); %}}

    <main>

        <!-- trabalhando com a parte de render EJS -->
        <div class="container">
            <div class="row">
                <div class="col s12">
                    {{%- home %}}
                </div>
            </div>
        </div>

    </main>

    <!-- Inclui o arquivo parcial footer, que é o rodapé do site -->
    <!-- https://ejs.co/#docs -->
    {{%- include('./partials/footer'); %}}

    <!-- Para saber a respeito do NONCE veja o arquivo index.js na linha 17 -->

    <!-- Materialize CSS - https://materializeweb.com/getting-started.html -->
    <script nonce="{{%= locals.nonce %}}" type="text/javascript" src="/assets/js/materialize.min.js"></script>

    <!-- https://pt.stackoverflow.com/questions/83839/por-que-se-recomenda-colocar-os-c%C3%B3digos-javascript-no-final-do-escopo-da-tag-bod -->
    <script nonce="{{%= locals.nonce %}}" type="text/javascript">
        // Script para inicializar a biblioteca javascript do Materialize depois da pagina carregar completamente
        // https://developer.mozilla.org/pt-BR/docs/Web/API/EventTarget/addEventListener
        document.addEventListener('DOMContentLoaded', () => {

            // https://materializeweb.com/auto-init.html
            M.AutoInit();
        });
    </script>
    <script nonce="{{%= locals.nonce %}}" type="text/javascript">

        // Conecta ao servidor websocket
        const ws = new WebSocket('ws://localhost:3000');

        // Função para tratamento de erros
        ws.onerror = (e) => {
            console.log(`WS [ERROR]: ${JSON.stringify(e)}`);
        }
        ws.onclose = (e) => {
            console.log(`WS [CLOSE]: ${JSON.stringify(e)}`);
        }
        ws.onopen = (e) => {
            console.log(`WS [OPEN]: ${JSON.stringify(e)}`);
        }
    </script>
</body>

</html>